=font($font-url, $font-name, $font-weight: normal, $font-style: normal)
  font-family: $font-name
  src: url($font-folder + $font-url + '.eot')
  src: url($font-folder + $font-url + '.woff') format('woff')
  src: url($font-folder + $font-url + '.ttf') format('truetype')
  font-weight: $font-weight
  font-style: $font-style

=transition($prop: all, $time: 0.3s, $ease: ease-in-out)
  transition: $prop $time $ease

=bg-img($img, $pos: center, $att: scroll)
  background: $att url($img-folder + $img) $pos no-repeat
  background-size: cover
  //background-image:
  //background-position: $pos
  //background-repeat: no-repeat
  //background-attachment: $att
=btn-ghost($c: #353f46, $c-hover: #fff, $font-size: 1em)
  display: inline-block
  text-transform: uppercase
  font-weight: 600
  color: $c
  border: 2px solid $c
  transition: all .3s ease-in-out
  line-height: 1
  padding: 1.07em 2.857em
  font-size: $font-size

  &:hover
    text-decoration: none
    color: $c-hover
    border-color: $c-hover
